.header {
    display: flex;
    border-bottom: 1px solid #D0D0D0;
}

.header__container {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px 0 14px 20px;
}

.header__line {
    margin: 0 auto;
    border: none;
    border-left: 1px solid #D0D0D0;
    height: 60px;
}

.header__container-2 {
    padding: 15px 0 14px 20px;
}

.header__link-main {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    margin-right: 48px;
}

.header__links {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    margin-right: 48px;
}

.header__links:last-child {
    margin-right: 0;
}

.header__button {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
}

.header__button_img {
    background-image: url('../../images/icon-search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-self: center;
    width: 17px;
    height: 17px;
    padding-right: 6px;
}