.preorders {
    width: 100%;
}

.preorders__title {
    text-align: center;
    padding: 15px 0 14px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    border: 1px solid #D0D0D0;
}

.preorders__list {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.preorders__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    border-right: 1px solid #D0D0D0;
}

.preorders__item:nth-child(1) {
    border-left: 1px solid #D0D0D0;
}

.preorders__item_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 12px 12px 32px 12px;
}

.preorders__item-img {
    width: 160px;
    align-self: center;
    margin-bottom: 32px;
}

.preorders__item_info-name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.preorders__item_info-title {
    opacity: 0.3;
    margin: 0;
}

.preorders__item_info-price {
    margin: 0;
}

.preorders__button {
    border: none;
    background-color: #161616;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    width: 100%;
    padding: 15px 0 14px;
    text-align: center;
}